// ::prefixer-target-dir::..//export/main/css/::
// ::scss-target-dir::..//export/main/css/::

// //  ##############
// //  ### Common ###
// //  ##############

// @import "../_common";

// // //  #################
// // //  #### Imports ####
// // //  #################

// @import "_mixins";

// @import "base/_base";

@import "_mediaqueries";

html {
    scroll-behavior: smooth;
    color: tomato;
}

@include respond(tab-port)  {

    input[type=range] {
        pointer-events: none;
    }

    input[type=range]::-webkit-slider-thumb {
        pointer-events:auto;
    }

    input[type=range]::-moz-range-thumb{/*Firefox*/
        pointer-events: auto;
    }
    input[type=range]::-ms-thumb{/*Internet Explorer*/
        pointer-events: auto;
    }

}


#hauptueberschrift {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;

    @include respond(phone) {
        font-size: 2rem;
    }

}



.anwendung {
    max-width: 120rem;
    @include respond(tab-port) {
        max-width: 1000vh;
    }
    margin-left: auto;
    margin-right: auto;
}

.anzeige {
    position: relative;
}

.ttip {
    cursor: pointer;
    border: solid black 1px;
    border-radius: 1rem;
    font-weight: bold;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
}

.mapview {
        position: sticky;
        top: 0;
        user-select: none;
        margin-left: auto;
        margin-tight: auto;
}



.karte {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    max-height: 50rem;
        @include respond(tab-port) {
        max-height: 105vh;
        }
        @include respond(phone) {
            max-height: 50vh;
        }
    background-repeat: no-repeat;
    // background-image: url("../imgs/deutschland2.svg");
    background-position: center;
    background-size: contain;
}

.panel-heading--collapsible {
    cursor: pointer;
    user-select: none;
}

.message {
    position: fixed;
    background: linear-gradient(to right, rgba(255,255,255,.7),  rgba(255,255,0,100), rgba(255,255,255,.7));
    top: 50vh;
    width:100%;
    text-align: center;
    font-size: 2rem;
    transition: opacity 1s;
    z-index: 99;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


// //  #################
// //  #### Rundrum ####
// //  #################

         .mainframe {
             min-height: calc(100vh - 144px);
             padding-left: 0;
             padding-right: 0;
             margin-top: 1rem;
         }

         .footer {
             height: 80px !important;
         }
