// ::prefixer-target-dir::..//resources/public/css/::
// ::scss-target-dir::..//resources/public/css/::

// //  ##############
// //  ### Common ###
// //  ##############

// @import "../_common";

// // //  #################
// // //  #### Imports ####
// // //  #################

// @import "_mixins"; 

// @import "base/_base";

   
.anwendung {
    max-width: 100vh;
    margin-left: auto; 
    margin-right: auto; 
}

.anzeige {
    position: relative;
}

.ttip {
    // color: black;
    // background: black;
    border: solid black 1px;
    border-radius: 1rem;
    font-weight: bold;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
}

.mapview {
    // max-height: 60rem;
    // background-image: url("../imgs/deutschland2.svg");
    // background-size: contain;
} 

// .karte {
//     // width:100%;
//     z-index: -1;
//     position: relative;
//     top: 0;
//     // max-height: 60rem;
//     // opacity: 50%;
//     img {
//     	max-height: 60rem;
//     }
// }
 
 
.karte {
    z-index: 1;
    max-height: 50rem;
    background-repeat: no-repeat;
    
    // position: absolute;
    // top: 0;
    background-image: url("../imgs/deutschland2.svg");
    background-position: center;
    background-size: contain;
}
 

.todesanzeige {
    z-index: 2;
}


#detailed-settings { 
    
}


// //  #################
// //  #### Rundrum ####
// //  #################

	 .mainframe {
	     min-height: calc(100vh - 144px);
	     padding-left: 0;
	     padding-right: 0;
	 }

	 .footer {
	     height: 80px !important;
	 }
