{:nrepl        {:port 8777}
 :deps true
 :builds {:app {:target     :browser
                :output-dir "export/main/js/compiled"
                :asset-path "/js/compiled"
                :modules    {:app {:init-fn  ewr.core/init
                                   :preloads [devtools.preload
                                              hashp.core
                                              day8.re-frame-10x.preload]}}
                :dev        {:compiler-options {:warnings {:redef false}
                                                :closure-defines {re-frame.trace.trace-enabled?        true
                                                                  day8.re-frame.tracing.trace-enabled? true}}}
                :release    {:build-options
                             {:ns-aliases
                              {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}

                :devtools {:http-root "export/main"
                           :http-port 3000}}
          :prerender {:target     :node-script
                      :output-to  "export/prerender/prerender.js"
                      :output-dir "export/prerender"
                      :main       prerender.main/prerender
                      :compiler-options
                      {:optimizations      :simple
                       :output-feature-set :es5
                       :infer-externs      false}}

          :aws-preview {:target    :node-library
                        :output-to "export/preview/index.js"

                        :output-dir "export/preview"
                        :exports    {:handler preview.main/handler}
                        :devtools   {:after-load preview.main/reload}
                        :compiler-options
                        {:warnings {:redef false}
                         :optimizations      :advanced
                         :output-feature-set :es5
                         :infer-externs      :auto}}
          :node-test
          {:target    :node-test
           :modules {:tests {:preloads [hashp.core]}}
           :output-to "out/node-tests.js"

           :ns-regexp "-test$"
           :autorun   true}
          :browser-test
          {:target    :browser-test
           ;; :modules {:tests {:preloads [hashp.core]}}
           ;; :output-to "out/node-tests.js"
           :test-dir "out/test"

           :ns-regexp "-test$"
           :autorun   true}}
 :dev-http {3006 "out/test"}
 :lein false}
