;; ##################################
;; ####### Publication Format #######
;; ##################################

;; The order of the publications determines the defaults.
;; The default publication for any given property
;; (i.e. :energy-needed, :deaths, :power-density)
;; is the first one providing a value for that property

;; ### Units

;; Power-density: W/m²
;; capacity-facor: 1=100%
;; Deaths: per TWh
;; co2: kt/TWh bzw. g/kWh

;; ########################
;; ##### Publications #####
;; ########################

[{:id "2050, größere Effizienz (Quaschning 2016)"
  :link "https://www.volker-quaschning.de/publis/studien/sektorkopplung/Sektorkopplungsstudie.pdf"
  :energy-needed 1300}
 {:id "2050,  gleiche Effizienz (Quaschning 2016)"
  :link "https://www.volker-quaschning.de/publis/studien/sektorkopplung/Sektorkopplungsstudie.pdf"
  :energy-needed 3000}
 {:id "The Lancet"
  :link "https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(07)61253-7/fulltext"
  :energy-sources
  {:deaths
   {:bio 4.63
    :nuclear 0.08
    :natural-gas 2.82
    :coal 28.67}}}
 {:id "Statista"
  :link "https://www.statista.com/statistics/494425/death-rate-worldwide-by-energy-source/"
  :energy-sources
  {:deaths
   {:bio 12
    :solar 0.44
    :wind 0.12
    :nuclear 0.09
    :natural-gas 4
    :coal 161}}}
 {:id "Our World in Data"
  :link "https://ourworldindata.org/safest-sources-of-energy"
  :energy-sources
  {:deaths
   {:solar 0.44
    :wind 0.15
    :nuclear 0.09
    :natural-gas 4
    :coal 100}}}  
 {:id "Forbes"
  :link "https://web.archive.org/web/20150724024259/http://nextbigfuture.com/2011/03/deaths-per-twh-by-energy-source.html"
  :energy-sources
  {:deaths
   {:bio 12
    :solar 0.44
    :wind 0.12
    :nuclear 0.09
    :natural-gas 4
    :coal 161}}}
 {:id "BMVI (2015)"
  :link "https://www.bbsr.bund.de/BBSR/DE/veroeffentlichungen/ministerien/bmvi/bmvi-online/2015/BMVI_Online_08_15.html"
  :energy-sources
  {:power-density
   {:wind 4.7 ; 20
    :solar 5.2 ; ausgehend von 2.25 ha/MW inst.Leistung
    :bio 0.16 ; ausgehend von 75 ha/GWh*a p.63
    }
   :capacity-factor
   {:wind 1 ; 0.23
    :solar 1 ; 0.11
    :bio 1 ; 0.06
    }}}
 {:id "Energy Policy (Nur Generatoren)"
  :link "https://doi.org/10.1016/j.enpol.2018.08.023"
  :energy-sources
  {:power-density
   {:bio 0.8
    :wind 18.4 
    }}}
 {:id "Energy Policy (Nur Generatoren + Infrastruktur)"
  :link "https://doi.org/10.1016/j.enpol.2018.08.023"
  :energy-sources
  {:power-density
   {:bio 0.8
    :wind 1.84
    }}}
 {:id "Energy Policy (ohne Infrastruktur)"
  :link "https://doi.org/10.1016/j.enpol.2018.08.023"
  :energy-sources
  {:power-density
   {:bio 0.8
    :solar 8.3 ;(/ 6.63 0.8)
    ; :wind 18.4  ; (/ 1.84 0.1) 
    :nuclear 560 ; (/ 240.8 0.43)
    :natural-gas 860.9 ; (/ 482.1 0.56)
    :coal 482.5 ; (/ 135.1 0.28)
    }   
   ;; {:bio 0.09 ; (/ 0.08 0.9) 
   ;;  :solar 8.3 ; (/ 6.63 0.8)
   ;;  :wind 18.4 ; (/ 1.84 0.1)
   ;;  :nuclear 560 ; (/ 240.8 0.43)
   ;;  :natural-gas 860.9 ; (/ 482.1 0.56)
   ;;  :coal 482.5 ; (/ 135.1 0.28)
   ;;  }
   
   ;; {:bio 0.8; (/ 0.08 0.1) 
   ;;  :solar 33.15 ; (/ 6.63 0.2)
   ;;  :wind 2.04; (/ 1.84 0.9) ; 6.37
   ;;  :nuclear 422.5 ;(/ 240.8 0.57)
   ;;  :natural-gas 1095 ; (/ 482.1 0.44)
   ;;  :coal 187.6 ; (/ 135.1 0.72)
   ;;  }
   ;; {:bio 0.8 ; (/ 0.08 0.1) 
   ;;  :solar 33.15 ; (/ 6.63 0.2)
   ;;  :wind 2.04; (/ 1.84 0.9) ; 6.37
   ;;  :nuclear 422.5 ;(/ 240.8 0.57)
   ;;  :natural-gas 1095 ; (/ 482.1 0.44)
   ;;  :coal 187.6 ; (/ 135.1 0.72)
   ;;  }
   ;; {:bio 0.05
   ;;   ; 0.85 ; checken auf p. 86  steht 0.05, auf 87 0.045!!!
   ;;  :solar 6.32
   ;;  :wind 2.02 ; 6.37 ; onshore
   ;;  :nuclear 240.8
   ;;  :natural-gas 482.1
   ;;  :coal 121.5}
   }}
 {:id "Energy Policy (inkl. Infrastruktur)"
  :link "https://doi.org/10.1016/j.enpol.2018.08.023"
  :energy-sources
  {:power-density
   {:bio 0.08
    :solar 6.63
    :nuclear 240.8
    :natural-gas 482.1
    :coal 135.1}
   ;; {:bio 0.05
   ;;   ; 0.85 ; checken auf p. 86  steht 0.05, auf 87 0.045!!!
   ;;  :solar 6.32
   ;;  :wind 2.02 ; 6.37 ; onshore
   ;;  :nuclear 240.8
   ;;  :natural-gas 482.1
   ;;  :coal 121.5}
   :capacity-factor
   {:bio 1 ; 0.53
    :solar 1
    :wind 1 ; 0.3
    :nuclear 1 ; 0.93
    :natural-gas 1}}}
 {:id "CB (inkl. Brennstoffgewinnung)"
  :link "https://doi.org/10.1111/cobi.12433"
  :energy-sources
  {:deaths
   {:bio 4
    :solar 0.44
    :wind 0.15
    :nuclear 0.04}
   :power-density
   {:solar 20.03
    :wind 2.48
    :bio 1.2
    :nuclear 1141.55
    :natural-gas 103.78
    :coal 51.89}}}
 ;; {:id "Öko-Institut"
 ;;  :link "https://www.oeko.de/fileadmin/oekodoc/Stromsystem-II-Regionalisierung-der-erneuerbaren-Stromerzeugung.pdf"
 ;;  :energy-sources
 ;;  {:power-density ; S. 81
 ;;   {:wind 4.7 ; 61.75 m2/kW
 ;;    :solar 5.2 ; ausgehend von 2.25 ha/MW inst.Leistung
 ;;    :bio 0.16 ; ausgehend von 75 ha/GWh*a p.63
 ;;    }}}
 {:id "IPCC (2018)"
  :link "https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf#page=7"
  :energy-sources
  {:co2
   {:wind 11
    :solar 44
    :nuclear 12
    :bio 230
    :coal 820
    :natural-gas 490}}}
 {:id "Deutscher Bundestag (2007)"
  :link "https://www.bundestag.de/resource/blob/406432/70f77c4c170d9048d88dcc3071b7721c/wd-8-056-07-pdf-data.pdf"
  :energy-sources
  {:co2
   {:wind 24
    :solar 101
    :nuclear 19
    :bio 0
    :coal 949
    :natural-gas 428}}}
 {:id "Öko-Institut (2007)"
  :link "https://www.oeko.de/oekodoc/318/2007-008-de.pdf"
  :energy-sources
  {:co2 ; p.7
   {:wind 23
    :solar 101
    :nuclear 31
    :bio 0
    :coal 941
    :natural-gas 428}}}
 {:id "BMVI, (2015)" ; !!!!!
  :link "https://www.bbsr.bund.de/BBSR/DE/veroeffentlichungen/ministerien/bmvi/bmvi-online/2015/BMVI_Online_08_15.html"
  :energy-sources
  {:arealess-capacity
   {:solar 142 ; S. 95
    }}}
 {:id "Quaschning (2000)"
  :link "https://www.volker-quaschning.de/downloads/Klima2000.pdf"
  :energy-sources
  {:arealess-capacity
   {:solar 139 ; Wirkungsgrad 13.5% Dach + Fassaden + Verkehr
    }}}
 {:id "Föderal Erneuerbar"
  :link "https://www.foederal-erneuerbar.de/landesinfo/bundesland/SL/kategorie/solar/auswahl/528-technisches_potenzia/"
  :energy-sources
  {:arealess-capacity
   {:solar 205 ; Alle Bundesländer addiert
    }}}
 ;; {:id "Symp. Energieinnovation"
 ;;  :link "https://mediatum.ub.tum.de/doc/969497/969497.pdf"
 ;;  :energy-sources
 ;;  {:arealess-capacity
 ;;   {:solar 205 ; 161 GWp
 ;;    }}}
 {:id "Quadrennial Technology Review" ; p.390
  :link "https://www.energy.gov/sites/prod/files/2017/03/f34/quadrennial-technology-review-2015_1.pdf"
  :energy-sources
  {:resources
   {:solar (+ 680 3700 350 850 2700 210 57 7900)
    :wind (+ 35 8000 23 92 120 190 1800)
    :nuclear (+ 760 3 5 2 160)
    :coal (+ 3 870 1 1 310)
    :natural-gas (+ 1 400 1 170)
    :bio (+ 6 760 4 310)}}}]
