{:nrg-constants {:wind {:name "Wind"
                        :icon "imgs/windmill.svg"
                        :color "rgba(135, 206, 250)"
                        :props {:cx 400
                                :cy 250
                                }} 
                 :solar {:name "Sonne"
                         :icon "imgs/solarenergie.svg"
                         :color "rgba(255, 255, 0)"
                         :props {:cx 380
                                 :cy 700}}
                 :nuclear {:name "Kernenergie"
                           :icon "imgs/atome.svg"
                           :color "rgba(250, 147, 38)"
                           :props {:cx 130
                                   :cy 450}}
                 :bio {:name "Biomasse"
                       :icon "imgs/plant.svg"
                       :color "rgba(50, 205, 50)"
                       :props {:cx 320
                               :cy 450}}
                 :natural-gas {:name "Erdgas"
                               :icon "imgs/flamme.svg"
                               :color "rgb(170, 120, 70)"
                               :props {:cx 200
                                       :cy 750}}
                 :coal {:name "Kohle"
                               :icon "imgs/flamme.svg"
                               :color "rgb(120, 120, 120)"
                               :props {:cx 200
                                       :cy 750}}
                 } 
 :init-mix {:wind {:share 40
                   :locked? false} 
            :solar {:share 40
                    :locked? false}
            :nuclear {:share 5
                      :locked? false}
            :bio {:share 15
                  :locked? false}
            :natural-gas {:share 0
                          :locked? false}
            :coal {:share 0
                      :locked? false}}}
 
 
 
 
