{:main-site "https://test.stromwende-rechner.de"
 :preview-api "https://9xcjcr4b4m.execute-api.eu-central-1.amazonaws.com/test/preview"
 :features       #{:bookmark-state}
 :test-version? true
 :inject-php? true}
